@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-font-family: '__Montserrat_1c39c5', '__Montserrat_Fallback_1c39c5' !important;
}

.react-tel-input .flag-dropdown {
  border-radius: 8px 0 0 8px !important;
  border: none !important;
  background: white !important;
}

.line {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #183770;
  width: 0;
  transition: width 0s; /* Default to no transition */
}

.line.animate {
  animation: fillLine 1s cubic-bezier(0.25, 0.1, 0.25, 1); /* Custom easing function */
}

@keyframes fillLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
body {
  background-color: #f4f4f4;
}
@media print {
  button {
    display: none; /* Hide the print button during printing */
  }
  /* Additional print styles */
}
